name: Publish to Factorio Mod Portal

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Publish Mod
        uses: shanemadden/factorio-mod-portal-publish@stable
        env:
          FACTORIO_USER: ${{ secrets.FACTORIO_USER }}
          FACTORIO_PASSWORD: ${{ secrets.FACTORIO_PASSWORD }}
